main {
  width: 80%;
  margin: 40px auto;
}

h1 {
  font-size: 27px;
}

h1, h2 {
  color: rgba(0, 0, 0, 0.750);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#user-info img {
  width: 25vw;
  flex-shrink: 0;
}

#user-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* align-items: center; */
}

#user-details {
  margin: 0 0 0 75px;
}

#user-descr {
  font-size: 18px;
  line-height: 1.5;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

#offers-section {
  margin: 40px 0;
}

#offers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


