<app-header></app-header>

<main>
  <section id="category">
    <h1>Category: </h1>

    <div id="category-info">
      <div id="category-details">
        <p id="category-descr"></p>
        <div class="line">
        </div>
      </div>
      <img src="" alt="Category picture">
    </div>
  </section>

  <h2>Offers in this category </h2>
  <div class="cards">
    <tile *ngFor="let offer of offerList" tileName="" background="../../assets/images/undraw_gifts_btw0.png"
      (click)="goToOffer(offer.id)"></tile>
  </div>
</main>

<app-footer></app-footer>