#header {
  width: 100%;
  background-color:#5ac2ce;
  text-shadow: 2px 1px 2px rgba(0,0,0,0.3);
  color: whitesmoke;
}

#container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#project-title {
  color: whitesmoke;
  letter-spacing: 2px;
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 400;
}
#links {
  color: whitesmoke;
  font-size: 20px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#links a:visited,#links a:link {
  color: whitesmoke;
}

#dropdown a:visited,#dropdown a:link {
  color: rgba(0,0,0,0.8);
  font-size: 18px;
}
a:hover {
  text-decoration: none;
}

#dropdown {
  border-radius: 0;
}

svg {
  position: relative;
  bottom: 0.09em;
}
