<app-header></app-header>

<h1>
  Meetup Details
</h1>

<div class="flex-row-space-around">
  <section class="form-section">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <input
          type="text"
          placeholder="Enter a name for your meetup"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <p *ngIf="isFormDisabled; else notEditable1">{{ description }}</p>

        <ng-template #notEditable1>
          <textarea
            class="meetup-description"
            contenteditable="true"
            placeholder="Enter a description for your meetup"
            formControlName="description"
            >{{ description }}</textarea
          >
        </ng-template>
      </div>

      <div class="form-group">
        <p *ngIf="isFormDisabled; else notEditable2">{{ date }}</p>
        <ng-template #notEditable2>
          <input type="date" formControlName="date" />{{
            date
          }}
        </ng-template>
      </div>

      <button
        type="button"
        *ngIf="isFormDisabled; else saveButton"
        (click)="startUpdating()"
      >
        <span>Update meetup</span>
      </button>
      <ng-template #saveButton>
        <button type="button" (click)="save()"><span>Save meetup</span></button>
      </ng-template>
    </form>
  </section>
</div>

<app-footer></app-footer>
