<app-header></app-header>

<main>
<h1>
  Meetup Details
</h1>

<div class="flex-row-space-around">
  <section class="form-section">
    <form [formGroup]="formGroup" id="formGroup">
      <div class="form-group">
        <label>Name:</label>
        <input
          type="text"
          placeholder="Meetup Name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label>Description:</label>
        <p *ngIf="isFormDisabled; else notEditable1">{{ description }}</p>

        <ng-template #notEditable1>
          <textarea
            class="meetup-description"
            contenteditable="true"
            placeholder="Enter a description for your meetup"
            formControlName="description"
            >{{ description }}</textarea
          >
        </ng-template>
      </div>

      <div class="form-group">
        <label>Date:</label>
        <p *ngIf="isFormDisabled; else notEditable2">{{ date }}</p>
        <ng-template #notEditable2>
          <input type="date" formControlName="date" />
        </ng-template>
      </div>

      <button
        type="button"
        *ngIf="isFormDisabled; else saveButton"
        (click)="startUpdating()">
        <span>Update</span>
      </button>
      <ng-template #saveButton>
        <app-submit-button (onClick)="save()" [formState]="isFormValid">Submit</app-submit-button>
      </ng-template>
    </form>
  </section>

  <section class="image-section">
    <img src="../../../assets/images/meetup.svg" alt="meetup-image" />
  </section>
</div>
</main>
<app-footer></app-footer>
