<app-header></app-header>

<main>

  <div>
    <a href="/notifications">
      <h2>Notifications</h2>
    </a>
    <notif-section></notif-section>
  </div>

  <div class="page-container"></div>
  <a href="/categories">
    <h2>Categories</h2>
  </a>
  <div class="cards">
    <tile *ngFor="let category of categoryList" label="{{category.name}}" background="{{category.backgroundImage}}"
      (click)="goToCategory(category.id)"></tile>
  </div>


  <div class="page-container">
    <h2>My Campus Communities</h2>
    <div class="cards">
      <tile label="All Offers" icon="list" (click)="goToPage('list')"></tile>
    </div>
  </div>

  <div class="page-container"></div>
  <h2> Offer List </h2>
  <div class="cards">
    <!-- <tile *ngFor="let offer of offerList" label="{{offer.title}}" background="../../assets/images/undraw_gifts_btw0.png"
      (click)="goToOffer(offer.id)"></tile> -->
    <tile></tile>
    <tile></tile>
    <tile></tile>
    <tile></tile>
  </div>

</main>

<app-footer></app-footer>