.navbar a:hover {
  background-color: #ddd;
  color: black;
}

h1{
  font-size: 30px;
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  align-content: space-around;
  justify-content: space-between;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  font-size: 27px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


app-tile :hover {
  transform: scale(1.1);
}
