<div class="navbar">
  <a href = "../../offer/details">Create offer</a>
  <a href = "../../notifications/">Notifications</a>
  <a href ="">My profile</a>
</div>
<br><br>
<h1>
  Offer Details
</h1>

<div class="flex-row-space-around">
  <section class="image-section">


    <img src="../../../assets/images/undraw_gifts_btw0.png"
         alt="Offer image" />


  </section>

  <section class="form-section">

    <div class="form-group">
      <h1>Offer Name:</h1>
      <input type="text"
             placeholder="Enter offer name"
             [(ngModel)]="name"
             [disabled]="!isEditing">
      <h1>Price:</h1>
      <input type="text"
             placeholder="Enter offer price"
             [(ngModel)]="price"
             [disabled]="!isEditing">
    <h1>Available:</h1>
    <input type="text"
             placeholder="Enter offer status"
             [(ngModel)]="available"
             [disabled]="!isEditing">
    </div>

    <div class="form-group">
      <p *ngIf="!isEditing; else notEditable">{{description}}</p>

      <ng-template #notEditable>
        <textarea class="offer-description"
                  contenteditable="true"
                  placeholder="Enter offer description">{{description}}</textarea>
      </ng-template>

    </div>



    <div class="photos">
      <label class="photos-title">Photos</label>

      <div class="photos-list">
        <div *ngIf="photos.length > 0; else noPhotos">

        </div>
        <ng-template #noPhotos>
          <label *ngIf="photos.length === 0">No photos available</label>
        </ng-template>

        <div class="add-photos"
             *ngIf="isEditing">
          <div class="photo-file-container">

            <img class="photo-file"
                 *ngFor="let photo of photos"
                 [src]="photo">
          </div>

          <input #Image
                 type="file"
                 (change)="handleFileInput($event.target.files)" />
          <img class="photo-file"
               [src]="imageUrl">
        </div>

        <div class="added-photos"
             *ngIf="!isEditing">
          <img class="photo-file"
               *ngFor="let photo of photos"
               [src]="photo">
        </div>
      </div>

    </div>

    <button type="button"
            *ngIf="!isEditing; else saveButton"
            (click)="startUpdating()"><span> Update offer</span></button>
    <button type="button"
            *ngIf="!isEditing; else saveButton"
            (click)="startUpdating()"><span> Buy now</span></button>
    <button type="button"
            *ngIf="!isEditing; else saveButton"
            (click)="save()"><span> Save deal</span></button>
    <ng-template #saveButton>
      <button type="button"
              (click)="save()"><span>Save offer</span></button>
    </ng-template>

  </section>
</div>
