/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
}

* {
  font-family: "Open Sans";
}

button {
  font-size: 16px;
  padding: 5px 15px;
  background-color: #5ac2ce;
  border: none;
  border-radius: 5px;
  /* color: rgba(0, 0, 0, 0.700); */
  color: white;
  text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
  letter-spacing: 1px;
}

