<app-header></app-header>

<main>
  <section id="user">
    <h1>{{username}}</h1>

    <div id="user-info">
      <img src="{{placeholder}}" alt="User picture">

      <div id="user-details">
        <p id="user-descr">{{ userDescription }}</p>
        <app-button class="follow">Follow</app-button>
      </div>
    </div>
  </section>

  <section id="offers-section">
    <h2>Active offers</h2>

    <div id="offers">
      <tile></tile>
      <tile></tile>
      <tile></tile>
      <tile></tile>
    </div>
  </section>

  <section id="reviews">
    <h2>User reviews</h2>
    <review></review>
    <review></review>
    <review></review>
  </section>
</main>

<app-footer></app-footer>
